{
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "no-use-before-define": [2, "nofunc"],
    "no-unused-expressions": 0,
    "strict": 0,
    "no-unused-vars": [2, {"args": "none"}],
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": true
    }],
    "comma-dangle": 0,
    "max-statements": [2, 30],
    "max-len": [2, 120, 2],
    "complexity": [2, 5],
    "max-depth": [2, 4],
    "max-nested-callbacks": [2, 5],
    "indent": [2, 2],
    "brace-style": [2, "1tbs"],
    "spaced-line-comment": [2, "always"],
    "no-trailing-spaces": 0,
    "no-underscore-dangle": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "expect": false,
    "require": false,
    "module": false,

    "VERSION": false,

    "inject": true,
    "module": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "describe": true,
    "it": true,
    "expect": true,
    "sinon": true
  }
}
