<div class="form-group" ng-class="{'has-error': options.formControl.$invalid && options.formControl.$touched}">
	<div>Look mah! Custom Templates!</div>
	<label for="{{id}}">
		{{model[options.nameKey] ? model[options.nameKey] + ',' : ''}} {{options.label || 'Text'}}
		{{options.required ? '*' : ''}}
	</label>
	<div>{{model[options.key || index]}}</div>
    <div class="help-block" ng-show="options.formControl.$error.notYes">Why not? (type "yes")</div>
	<input type="text"
		   class="form-control"
		   id="{{id}}"
           formly-dynamic-name="id"
           formly-custom-validation="options.validators"
		   placeholder="{{options.placeholder}}"
		   ng-required="options.required"
		   ng-disabled="options.disabled"
		   ng-model="model[options.key || index]">
</div>