<div class="jumbotron">
	<div class="container">
		<h1>Formly for Angular</h1>
		<p>JSON powered forms</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<h3>Fields</h3>
			<div hljs source="toPrettyJSON(formFields, 4)"></div>
			<h3>Options</h3>
			<div hljs source="toPrettyJSON(formOptions, 4)"></div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<h3>Form</h3>
			<formly-form result="formData"
						 fields="formFields"
						 options="formOptions"
						 ng-submit="onSubmit()">
			</formly-form>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<h3>Submitted Data</h3>
			<div hljs source="toPrettyJSON(submittedData, 4)"></div>
		</div>
	</div>
</div>
