<div>
	<label for="{{id}}">
		{{options.label || 'Number'}}
		{{options.required ? '*' : ''}}
	</label>
	<input type="number"
		   id="{{id}}"
		   placeholder="{{options.placeholder}}"
			 aria-describedby="{{id}}_description"
		   ng-required="options.required"
		   ng-disabled="options.disabled"
		   min="{{options.min}}"
		   max="{{options.max}}"
		   ng-minlength="{{options.minlength}}"
		   ng-maxlength="{{options.maxlength}}"
		   ng-model="value">
   <p id="{{id}}_description" ng-if="options.description">{{options.description}}</p>
</div>