<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Manual tests for formly</title>
  <link rel="stylesheet" href="bootstrap.css"/>
  <style>.ng-cloak {display: none}</style>
</head>
<body ng-app="app" ng-controller="MainCtrl as vm">
<div class="jumbotron" style="text-align:center;">
  <h1>Manual tests for formly</h1>
</div>
<div class="container ng-cloak">
  <!--<form name="vm.realForm">-->
    <!--<formly-form model="vm.user" fields="vm.realFields" form="vm.realForm"></formly-form>-->
  <!--</form>-->
  <form name="vm.form">
    <formly-form model="vm.user" fields="vm.fields" form="vm.form"></formly-form>
  </form>

  <h1>User</h1>
  <pre>{{vm.user | json}}</pre>
  <h1>Form</h1>
  <pre ng-if="vm.realForm">{{vm.realForm | json}}</pre>
  <pre ng-if="vm.form">{{vm.form | json}}</pre>
</div>

<script src="../node_modules/api-check/dist/apiCheck.js"></script>
<script src="angular/angular.js"></script>
<script src="dist/formly.js"></script>
<!--<script src="formly-templates/angular-formly-templates-vanilla.js"></script>-->
<script src="formly-templates/angular-formly-templates-bootstrap.js"></script>
<script src="components/app.js"></script>
</body>
</html>
