<div>
  Welcome to the official Angular Formly website!
  Feel free to stick around here and browse/play with the examples.
  If you want to see the docs, go to the
  <a ng-href="{{::vm.base()}}'">angular-formly repo</a>
  on GitHub.
  <div>
    <h2>Features</h2>
    <ul>
      <li>
        <a ng-href="{{::vm.docs('Prebuilt Templates')}}">Prebuilt templates</a>
        for
        <span ng-repeat="prebuilt in ::vm.prebuiltTemplates">
          <span ng-if="::$last">and</span>
          <a ng-href="{{::vm.base('-templates-' + prebuilt.suffix)}}">{{::prebuilt.name}}</a><span ng-if="::!$last">,</span>
        </span>
        and WIP template libraries for
        <span ng-repeat="prebuilt in ::vm.wipTemplates">
          <span ng-if="::$last">and</span>
          <a ng-href="{{::vm.base('-templates-' + prebuilt.suffix)}}">{{::prebuilt.name}}</a><span ng-if="::!$last">,</span>
        </span>
      </li>
      <li>
        Simpler than cake
        <a ng-href="{{::vm.docs('diy-templates')}}">do it yourself templates</a>
        through the <code>formlyConfig</code> service.
      </li>
      <li>
        Totally
        <a ng-href="{{::vm.docs('creating-form-fields')}}">customizable fields</a>
        (specify model for the form or for a specific field)
      </li>
      <li>
        <a ng-href="{{::vm.docs('setwrapper-getwrapper-getwrapperbytype-removewrapperbyname--removewrappersfortype')}}">
          Template Wrappers
        </a>
        make it very easy reduce the amount of boilerplate in your template code so you can maintain a consistent style
        without running into a maintainence nightmare
      </li>
      <li>
        <a ng-href="{{::vm.docs('templatemanipulators')}}">Template manipulators</a>
        which allow you to modify templates programmatically. This comes with
        <a ng-href="{{::vm.docs('ngmodelattrstemplatemanipulator')}}">
          a built-in template manipulator
        </a>
        which will automatically add attributes like `ng-required` or `ng-blur` when the field's config
        specifies such a requirement which reduces the cruft in your templates as well as the number of watchers for
        your forms considerably.
      </li>
      <li>
        Take advantage of angular's validators api, whether you're using 1.2 or 1.3, with formly's super simple
        <a ng-href="{{::vm.docs('validators-object')}}">validators api</a> with simple string
        expressions, advanced functions, and async validation support (in both 1.2 and 1.3).
      </li>
      <li>
        <a ng-href="{{::vm.docs('expressionproperties-object')}}"><code>expressionProperties</code></a>
        makes it super easy to manipulate the fields as the user interacts with your app
      </li>
      <li>
        Warnings logged and errors thrown to ensure you're using formly correctly. Links provided so you can resolve the
        issue quickly. We'll help you be effective with angular-formly :-D
      </li>
      <li>
        If you're using Angular 1.3, then you can take advantage of the <code>ng-model-options</code> directive via
        <a ng-href="{{::vm.docs('modeloptions-object')}}">modelOptions</a>.
      </li>
      <li>
        <code>defaultOptions</code> for field types, allowing for as DRY code as possible.
      </li>
      <li>
        Custom <code>link</code> and <code>controller</code> functions per type and/or field, giving maximum control,
        without having to create a custom directive to add functionality.
      </li>
      <li>
        <a ng-href="{{::vm.docs('watcher-objectarray-of-watches')}}">Custom watchers</a>
        with an enhanced API give you total control when you need it
      </li>
    </ul>
  </div>
  <div>
    <h2>The Gist</h2>
    <div class="+font-size-large">
      Maintain <strong>less html</strong> in favor of <strong>JavaScript</strong>
    </div>
    <hr/>

    <div>
      Go from this (copied from <a href="http://getbootstrap.com/css/#forms">getbootstrap.com</a>):
      <div hljs language="html" class="+margin-top-small" source="::vm.bootstrapHtml"></div>
      <hr/>
      To this:
      <div hljs languge="html" class="+margin-top-small" source="::vm.formlyHtml"></div>
      <div class="+margin-top-small">
        and the power of JavaScript
      </div>
      <div hljs language="javascript" class="+margin-top-small" source="::vm.formlyJs"></div>
    </div>

    <hr/>
    <div>
      And that's not where it gets really cool. We haven't even addressed
      validation, user interaction, etc, etc, etc...
    </div>

    <hr/>

    <div class="+font-size-large">
      So take a look around and catch us on <a ng-href="{{::vm.base()}}'">GitHub</a>
    </div>

  </div>
  <div>
    <h2>Introduction Example</h2>
    <formly-jsbin-example jsbin-id="kunaho"></formly-jsbin-example>
  </div>

</div>
