<div>
	<label for="{{id}}">
		{{options.label || 'Select'}}
		{{options.required ? '*' : ''}}
	</label>
	<select id="{{id}}"
            formly-dynamic-name="options.key"
			aria-describedby="{{id}}_description"
			ng-model="value"
			ng-required="options.required"
			ng-disabled="options.disabled"
			ng-options="option.value as option.name group by option.group for option in options.options">
	</select>
  <p id="{{id}}_description" ng-if="options.description">{{options.description}}</p>
</div>
