<div>
	<label>
		{{options.label}}
		{{options.required ? '*' : ''}}
	</label>
	<div ng-repeat="(key, option) in options.options">
		<label>
			<input type="radio"
                   formly-dynamic-name="options.key"
                   formly-custom-validation="options.validators"
				   id="{{id + '_'+ $index}}"
			 	   aria-describedby="{{id}}_description"
				   ng-value="option.value"
				   ng-required="options.required"
				   ng-model="$parent.value">
			{{option.name}}
		</label>
    <p id="{{id}}_description" ng-if="option.description">{{option.description}}</p>
	</div>

</div>
