.formly-jsbin-example {
  height: 750px;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.formly-jsbin-example iframe {
  border: none;
}
